.modifyOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

.title {
  color: #333;
  font-size: 2em;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 2%;
}

.orderButton {
  padding: 0.5em 1em;
  color: #fff;
  background-color: #12bc5e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.orderButton:hover {
  background-color: #118947;
}

.modifyOrder .scrollableTableContainer table {
  border-collapse: collapse;
  font-size: 1rem;
  overflow-x: auto;
}

.modifyOrder .scrollableTableContainer table thead {
  background-color: #dddddd;
  color: rgb(0, 0, 0);
}

.modifyOrder .scrollableTableContainer table th,
.modifyOrder .scrollableTableContainer table td {
  padding: 1rem;
  border: 1px solid #000000;
  text-align: left;
}

.modifyOrder .scrollableTableContainer table th {
  font-weight: bold;
}

/* .modifyOrder .scrollableTableContainer table tbody tr:nth-child(even) {
  background-color: #dddddd;
}

.modifyOrder .scrollableTableContainertable td {
  text-align: center;
  vertical-align: middle;
} */
.modifyOrder .popup {
  position: abosulute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #f9ed69;
  text-align: left;
  transition: opacity 2s ease-in-out;
  opacity: 1;
}

@media (max-width: 768px) {
  .modifyOrder {
    padding: 10px;
    width: 90%;
    margin: 1em 0;
  }

  .title {
    font-size: 1.5em;
  }

  .buttonsContainer {
    flex-direction: column;
  }

  .orderButton {
    width: 100%;
    margin-bottom: 1em;
  }

  .modifyOrder .popup {
    width: 90%;
  }

  .modifyOrder .scrollableTableContainer table {
    font-size: 0.8rem;
  }

  .modifyOrder .scrollableTableContainer table th,
  .modifyOrder .scrollableTableContainer table td {
    padding: 0.2rem; 
  }
  .scrollableTableContainer{
    width: 100%;
    overflow-x: auto;
  }
}

