.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.orderSummary {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.orderSummary table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

.orderSummary table thead {
  background-color: #dddddd;
  color: rgb(0, 0, 0);
}

.orderSummary table th,
.orderSummary table td {
  padding: 1rem;
  border: 1px solid #000000;
  text-align: left;
  width: 20%;
}

.orderSummary table th {
  font-weight: bold;
}

.orderSummary table tbody tr:nth-child(even) {
  background-color: #dddddd;
}

.orderSummary table td {
  text-align: center;
  vertical-align: middle;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 2%;
}

.orderButton {
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #12bc5e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.orderButtonClose {
  padding: 0.5em 1em;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.orderButton:hover {
  background-color: #118947;
}
.orderButtonClose:hover  {

  background-color: rgb(255, 59, 59);

}
.orderSummary .popup {
  position: abosulute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #f9ed69;
  text-align: left;
  transition: opacity 2s ease-in-out;
  opacity: 1;
}

@media (max-width: 768px) {
  .orderSummary {
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
  }

  .orderSummary table {
    font-size: 0.8rem;
  }

  .orderSummary table th,
  .orderSummary table td {
    padding: 0.5rem;
  }

  .buttonsContainer {
    flex-direction: column;
  }

  .orderButton,
  .orderButtonClose {
    width: 100%;
    margin-bottom: 1em;
  }
}
