

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100%;
  width: 100%;
  background-color: #faf5ef;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header{
  height: 15%;
}

.main{
  padding: 2%;
  margin-top: 2%;
  height: 70%;
  display: flex;
  gap:5%
}
.section_side{
  margin-left:5%;
  position: flex;


}
.section_middle{
  height: 70%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .section_side{
      margin-left:0%;
      position: flex;
      margin-bottom:10px;
  }
}


.restaurantGrid {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  margin-top: 1%;
}

.restaurant_box {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-bottom: 1%;
  width: 40%;
  height: 100%;
  max-height: 300px;
  text-decoration: none;
  color: black;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.restaurant_box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
.restaurant_logo {
  height: 150px;
  position: relative;
}

.restaurant_logo img {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.restaurant_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant_descrpition {
  overflow-y: auto;
  margin-bottom: 0.5%;
  font-size: 1.25rem;
  max-height: 100px;
  /* align-self: center; */
  padding: 2%;
}

.restaurant_name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 2%;
  align-self: flex-start;
  padding: 2%;
}

button {
  background-color: #12bc5e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

button:hover {
  background-color: #118947;
}

button:focus {
  outline: none;
}
