

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 100%;
}

header{
    height: 15%;
}

.main{
    width: 100%;
    margin-top: 2%;
    height: 70%;
    display: flex;
    gap:5%
}
.section_side{
    /* border: solid; */
    position: flex;
    width: 20%;
    margin-left:5%

}
.section_middle{
    /* border: solid; */
    height: 70%;
    width: auto;
    flex-direction: column;
    /* justify-content: space-between; */

}
footer{
    height:15%;
}