.login-page {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-form {
    width: 25%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10%;
    margin-bottom: 20%;
    /* margin-right: 40%; */
    position: absolute;
  }
  
  .login-form h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .login-form input {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }
  
  .login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .login-form button:hover {
    background-color: #222;
  }
  header{
    width: 100%;
  }
  .error {
    color: red;
    margin-top: 10px;
  }