.sidebar{
    margin-top: 10%;
    margin-left:10%;
    width: 100%;

}
.container{
    height: 100%;
}

header{
    height: 15%;
    /* margin-top: 2%; */
}
main{
    display: flex;
    height: 70%;
    /* justify-content: space-between; */
}
footer{
    height:15%
}
.orderTable{
    margin-top: 3%;
    margin-left: 10%;
}