.signup-page {
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .signup-form {
    width: 400px;
    padding: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
    margin-bottom: 20%;
    position: absolute;
  }
  
  .signup-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .signup-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .signup-form input {
    display: block;
    width: 100%;
    padding-top: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
  }
  
  .signup-form button {
    display: block;
    width: 102%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #0069d9;
  }
  
  .signup-form .error {
    color: red;
    margin-top: 10px;
  }
  header{
    width: 100%;
  }

.signup-success {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  background-color: #F9FAFB;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 8px;
  font-family: 'Segoe UI', sans-serif;
}

.signup-success h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}

.signup-success p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
  text-align: center;
}

/* .signup-success .resend-link {
  color: #1E40AF;
  text-decoration: underline;
  cursor: pointer;
}

.signup-success .resend-link:hover {
  color: #1E40AF;
  text-decoration: none;
} */

.signup-success .timer {
  font-size: 16px;
  line-height: 20px;
  margin-top: 24px;
}

  .signup-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  
  .signup-info p {
    margin-bottom: 5px;
  }
  
  .resend-link {
    background-color: transparent;
    background-color: #308df0;
    padding: 2px;
    border-radius: 5px;
    border: none;
    color: white;
    /* text-decoration: underline; */
    cursor: pointer;
  }
  .resend-link:hover {
    color: white;
    background-color: #0413dc;
    text-decoration: none;
  }
  .signup-info button:hover {
    text-decoration: none;
  }
  
  .timer {
    margin-top: 20px;
    text-align: center;
  }
  
  .timer p {
    margin-bottom: 10px;
  }
  
  .countdown-timer {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
  }
  
  .timer-minutes,
  .timer-seconds {
    display: inline-block;
    margin: 0 5px;
  }
  
  .timer-minutes:after,
  .timer-seconds:after {
    content: ':';
  }
  .alert {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
  }
  
  .alrtError {
    background-color: #f44336;
  }
  .close {
    position: absolute;
    top: -3px;
    right: 2px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  @media screen and (max-width: 600px) {
    .signup-form {
      margin-top: 100px;
    }
  }